.espaco_com_foto{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image:
        linear-gradient(
            to top right,
            purple,
            tomato
        ),
        url("/imagens/index/dog-3277416_1280.jpg");
    background-blend-mode: lighten;
    background-size: cover;
    background-attachment: fixed;

}

.bg{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    fill: #F6FF9E;
    width: 100%;
}

@media (max-width: 768px) {
    .espaco_com_foto{
        width: 100%;
        background-image:
            linear-gradient(
                to top right,
                purple,
                tomato
            );
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    
    .espaco_com_foto{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-image:
            linear-gradient(
                to top right,
                purple,
                tomato
            ),
            url("/imagens/index/kitten-4611189_1280.jpg");
        background-blend-mode: lighten;
        background-size: cover;
        background-attachment: fixed;
    }
}