.espaco_com_foto{
    background-image:
        linear-gradient(
            to top right,
            purple,
            tomato
        ),
        url("/imagens/index/dog-3277416_1280.jpg");
    background-blend-mode: lighten;
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
}

.bg{
    margin: 0;
    padding: 0;
    fill: #F6FF9E;
    width: 100%;
    
}

@media (max-width: 768px) {

    .espaco_com_foto{
        width: 100%;
        background-image:
            linear-gradient(
                to top right,
                purple,
                tomato
            ),
            url("/imagens/index/dog-3277416_1280.jpg");
        background-blend-mode: lighten;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: local;
        
    }

    .bg{
        margin: 0;
        padding: 0;
        fill: #F6FF9E;
        width: 100%;
        padding-bottom: 96.5px;
    }
}


@media (min-width: 769px) and (max-width: 1024px){
    .bg{
        margin: 0;
        padding: 0;
        fill: #F6FF9E;
        width: 100%;
        padding-bottom: 14vh;
    }
}