@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
.spa_de_patinhas{
    margin-top: 3vh;
   text-align: center;
   color:#23232e;
   font-family: "Pacifico";
   font-size: 310%;
}

div.slider{
    margin: 0 auto;
    margin-top: 30px;
    width: 38%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    margin-bottom: 60px;
    border-radius: 60%;
    border:1px black solid;
}

.slider-content{
    /*width: 200%;*/
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}



.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    
}

.slide-box img{
    width: 100%;
    height: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 38%;
    /*margin-top: 35%;*/
    margin-top: 26%;
    margin-bottom: 35%;
    display: flex;
    justify-content: center;
    
}

.nav-manual .manual-btn, .nav-auto div{
    margin-top: 8px;
    border: 1px solid #23232e;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #23232e;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #23232e;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #23232e;
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #23232e;
}


#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


@media (max-width: 768px) {
    .spa_de_patinhas{
        margin-top: 4vh;
        font-size: 250%;
    }

    .nav-manual .manual-btn, .nav-auto div{
        margin-top: 8px;
        padding: 5px;
    }
}


@media (min-width: 769px) and (max-width: 1024px){
    .spa_de_patinhas{
        margin-top: 8vh;
        font-size: 290%;
    }

    .nav-manual .manual-btn, .nav-auto div{
        margin-top: 8px;
        padding: 8px;
    }
}