@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');

/* Reset de Margem e Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Cor de fundo da página */
body {
    /*margin-top: 50px;*/
    background-color: #F6FF9E;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    /*padding-top: 100px;*/
    /* Espaço para o cabeçalho fixo */
    background-color: #F6FF9E;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

/* Estilo para o Formulário */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f1ef3f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
}

form h1,
form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    color: #23232e;
}

form label {
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: #23232e;
    display: block;
}

/*form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="radio"],
form input[type="checkbox"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 1.3rem;
    color: #333;
}*/
fieldset{
    border-left: none;
    border-right: none;
    border-bottom: none;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="radio"],
form input[type="checkbox"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    transition: 0.4s;
    border: 1px solid #0c0b0b;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f1ef3f;
    font-size: 1.3rem;
    color: #333;
}

form input[type="text"]:hover,
form input[type="text"]:focus,
form input[type="email"]:hover,
form input[type="email"]:focus,
form input[type="password"]:hover,
form input[type="password"]:focus,
form input[type="radio"]:hover,
form input[type="radio"]:focus{
    outline: none;
    border-color: #1d90f5;
}

form input[type="date"] {
    width: 30%;
    min-width: 200px;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #0c0b0b;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f1ef3f;
    font-size: 1.3rem;
    color: #333;
    transition: 0.4s;
}

form input[type="date"]:hover,
form input[type="date"]:focus  {
    outline: none;
    border-color: #1d90f5;
}

form input[type="radio"],
form input[type="checkbox"] {
    width: auto;
    margin: 0 10px 0 0;
}

form button{
    background-color: #FFD43B;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}

#cep{
    display: inline;
    width: 40%;
}

form input[type="button"]{
    display: inline;
    background-color: #FFD43B;
    color: #fff;
    width: 15%;
    min-width: 100px;
    height: 45px;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

form input[type="button"]:disabled,
form input[type="submit"]:disabled{
    cursor: not-allowed;
    background: #555b69;
}

#alinhaBtn{
    display: flex;
    justify-content: center;
}

.input-cep{
    display: flex;
    align-items: center;
}

form button[type="submit"]:hover {
    background-color: #f2a900;
}
form input[type="button"]:hover {
    background-color: #f2a900;
}

form hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

form ul {
    list-style-type: none;
}

form ul li {
    font-size: .9rem;
    color: #0c0b0b;
}

/* Estilo para as imagens */
form img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}


/*inicio do css dos caracteres de validação da senha*/

/* The message box is shown when the user clicks on the password field */
#message {
    
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid::before {
    position: relative;
    left: -35px;
    content: "\2713";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid::before {
    position: relative;
    left: -35px;
    content: "\03A7";
}

/*fim do css dos caracteres de validação da senha*/


.success{
    color: green;
}

.error{
    color: tomato;
}




/* Estilo Responsivo */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    form {
        padding: 20px;
    }

    form h1,
    form h3 {
        font-size: 1.5rem;
    }

    form label {
        font-size: 1rem;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="date"],
    form input[type="password"],
    form input[type="submit"] {
        font-size: 0.9rem;
    }

    form input[type="submit"] {
        padding: 10px 25px;
    }

}